@page "/Usuario"
@page "/Usuario/{IdUsuario:int}"
@using Model

@inject UsuarioBLL usuarioBLL
@inject NotificationService notificationService

<EditForm Model="usuario" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="card shadow-lg">
        <div class="card-header">
            <h3>Registro De usuarios</h3>

        </div>

            @*Nombre*@
            <div class="form-group">
                <label>Nombre</label>
                <InputText @bind-Value="usuario.Nombre" class="form-control" />
                <ValidationMessage For="@(() => usuario.Nombre)" />
            </div>
            @*Apellido*@
            <div class="form-group">
                <label>Apellido</label>
                <InputText @bind-Value="usuario.Apellido" class="form-control" />
                <ValidationMessage For="@(() => usuario.Apellido)" />
            </div>
            @*Cedula*@
            <div class="form-group">
                <label>Cedula</label>
                <InputText @bind-Value="usuario.Cedula" class="form-control" />
                <ValidationMessage For="@(() => usuario.Cedula)" />
            </div>
            @*Usuario*@
            <div class="form-group">
                <label>Usuario</label>
                <InputText @bind-Value="usuario.Usuario1" class="form-control" />
                <ValidationMessage For="@(() => usuario.Usuario1)" />
            </div>
            @*Clave*@
            <div class="form-group">
                <label>Clave</label>
                <InputText type="password" @bind-Value="usuario.Clave" class="form-control" />
                <ValidationMessage For="@(() => usuario.Clave)" />
            </div>            

        <div class="card-footer">
            <div class="form-group text-center" display: inline-block>
                <button type="button" class="btn btn-lg btn-primary" @onclick="Nuevo">
                    <i class="oi oi-file" /> Nuevo
                </button>
                <button type="submit" class="btn btn-lg btn-success">
                    <i class="oi oi-document" /> Guardar
                </button>
                <button type="button" class="btn btn-lg btn-danger" @onclick="Eliminar">
                    <i class="oi oi-trash" /> Eliminar
                </button>
            </div>
        </div>
    </div>

</EditForm>

@code
{
    [Parameter]
    public int IdUsuario { get; set; }
    public Usuario usuario { get; set; } = new Usuario();
    public String mensaje { get; set; } = "";

    private List<Usuario> ListaUsuarios { get; set; } = new List<Usuario>();

    protected async override Task OnInitializedAsync()
    {
        ListaUsuarios = await usuarioBLL.GetList(t => true);

        if (IdUsuario > 0)
        {
            this.usuario.IdUsuario = IdUsuario;
            await this.Buscar();
        }
    }
    private async Task Buscar()
    {
        if (usuario.IdUsuario > 0)
        {
            var encontrado = await usuarioBLL.Buscar(usuario.IdUsuario);

            if (encontrado != null)
                this.usuario = encontrado;
        }
        else
        {
            ShowNotification(
            new NotificationMessage
            {
                Severity = NotificationSeverity.Warning,
                Summary = "No Existe este usuario"
            });
        }
    }

    public void Nuevo()
    {
        mensaje = "";
        usuario = new Usuario();
    }

    public async Task Guardar()
    {

        bool guardo = await usuarioBLL.Guardar(usuario);

        if (guardo)
        {
            ShowNotification(
            new NotificationMessage
            {
                Severity = NotificationSeverity.Success,
                Summary = "Guardado correctamente"
            });

            Nuevo();
        }
    }

    public async Task Eliminar()
    {
        bool elimino;

        elimino = await usuarioBLL.Eliminacion(usuario);
        if (elimino)
        {
            Nuevo();
            ShowNotification(
            new NotificationMessage
            {
                Severity = NotificationSeverity.Success,
                Summary = "Fue eliminado correctamente."
            });
        }
        else
        {
            ShowNotification(
            new NotificationMessage
            {
                Severity = NotificationSeverity.Error,
                Summary = "No fue Eliminado, intentar nuevamente o esta intentado eliminar sin datos."
            });
        }
    }

    void ShowNotification(NotificationMessage message)
    {
        notificationService.Notify(message);
    }
}